body {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  @include responsive-report();
}

a {
	&:hover {
		text-decoration: none;
	}
}

section {
  position: relative;
}

.inner {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  @extend .cf;
  position: relative;
}