---
layout: default.hbs
title: Home
---

<main class="main">

	<section class="jumbotron">
		<div class="inner">
			<h1>
				Dise単a la polera <br>
				oficial
			</h1>
		</div>
	</section>

	<section class="message">
		<div class="inner">
			<h2>
				Dise単a tu polera Gap-Fiis <br>
				#dise単aTuPolera
			</h2>
			<p>
				Se parte de fiiS! Te invitamos a que juntes toda tu creatividad y concurses por ser <br>
				el encargado del dise単o oficial de la polera del festival.
			</p>

			<a href="#" class="btn btn-primary">Lorem Button</a>
		</div>
	</section>

	<div class="inner">

		<div class="instafeed" id="instafeed-0"></div>

		<button class="btn load">Cargar mas...</button>

	</div>

</main>
