<header>
	<div class="inner">
		<nav>
			<ul>
				<li>
					<a href="#">INICIO</a>
				</li>
				<li>
					<a href="#">BASES</a>
				</li>
				<li>
					<a href="#">DISEÑOS</a>
				</li>
				<li>
					<a href="#">fiiS2014</a>
				</li>
			</ul>
		</nav>
	</div>
</header>