/*------------------------------------------------------------------

[Master Stylesheet]

Project:	RenameMe
Version:	0.0.0
Created:	00/00/00
Author:		Raúl Hernández M. <raulghm@gmail.com>

[Table of contents]

1. Vendors
2. Base
3. Helpers
4. Utils
5. Fonts
6. Modules
7. Project's components/styles

-------------------------------------------------------------------*/

/*------------------------------------*
	Vendors
*------------------------------------*/

@import '../../bower_components/raulghm-sass-utils/dist/mixins/helpers';
@import '../../bower_components/bourbon/dist/bourbon';
@import 'vendor/bootstrap';
@import 'vendor/highlight';

/*------------------------------------*
	Base
*------------------------------------*/

@import 'base/scaffolding';
@import 'base/mixins';

/*------------------------------------*
	Helpers
*------------------------------------*/

@import 'helpers/helpers';

/*------------------------------------*
	Utils
*------------------------------------*/

@import 'utils/utils';

/*------------------------------------*
	Fonts
*------------------------------------*/

@import 'fonts/font-awesome';

/*------------------------------------*
	Components
*------------------------------------*/

@import 'components/PageBody';
@import 'components/PageContent';
@import 'components/Content';
@import 'components/Default';