/*------------------------------------------------------------------

Name:     Utilities
Created:	05/02/15
Author:		Raúl Hernández M. <raulghm@gmail.com>

-------------------------------------------------------------------*/

.cf {
	@extend .clearfix;
}