<!doctype html>
<html class="no-js" lang="{{ lang }}">
	<head>
		{{> head }}
	</head>
	<body class="PageBody">
		<div class="PageContent">
			<main class="Content">
				{{> body }}
			</main>
		</div>
	</body>
</html>
