/*------------------------------------------------------------------

Name:			Scaffolding
Created:	15/02/15
Author:		Raúl Hernández M. <raulghm@gmail.com>

-------------------------------------------------------------------*/

// helper icon fontawesome
@mixin icon($icon) {
		font-family: FontAwesome;
		font-style: normal;
		font-weight: lighter;

		&:before {
				@extend .fa-#{$icon};
		}
}